<component name="ArtifactManager">
  <artifact type="war" name="spring-hiber:war">
    <output-path>$PROJECT_DIR$/modules/web/spring-hiber/target</output-path>
    <root id="archive" name="spring_hiber-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-hiber:war exploded" />
    </root>
  </artifact>
</component>